.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.git
.idea
.vscode
tests
phpunit.xml
.phpunit.cache
docker-compose.yml
docker-compose.*.yml
README.md
